.button-create-user {
    width: 65%;
    text-align: end;
    margin-bottom: 15px;
}
.button-create-user__link {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    background-color: #2E8FF0;
    box-shadow: 0 5px 8px #2E8FF029;
    border-radius: 6px;
    padding: 15px 27px;
}

.button-create-user__link:hover {
    cursor: pointer;
    background-color: rgba(4, 61, 119, 0.75);
}
